<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MaterialMapper">
	
	<select id="findAll" resultType="Material">	
		SELECT * FROM materials WHERE is_deleted = 0
	</select>
	
	<select id="findDeletedMaterials" resultType="Material">
		SELECT * FROM materials WHERE is_deleted = 1
	</select>
	
	<select id="findById" resultType="Material">
		SELECT * FROM materials where id = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO materials (name, unit, net_weight)
		VALUES (#{name}, #{unit}, #{netWeight})
	</insert>
	
	<update id="update">
		UPDATE materials
		SET name = #{name},
			unit = #{unit},
			net_weight=#{netWeight}
		WHERE id = #{id}
	</update>
	
	<update id="logicalDelete">
		UPDATE materials 
		SET is_deleted = 1
		WHERE id = #{id}
	</update>
	
	<update id="restore">
		UPDATE materials SET is_deleted = 0 WHERE id = #{id}
	</update>
</mapper>