<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.RecipeMapper">

	<select id="findByItemId" resultType="Recipe">
		SELECT
			r.id, r.item_id, r.material_id, r.origin, r.quantity,
			m.name AS materialName, m.unit AS unit, m.is_powder AS isPowder
		FROM 
			recipes r	
		INNER JOIN	
			materials m
			ON r.material_id = m.id
		WHERE
			r.item_id = #{itemId}	 	
		ORDER BY
			r.id ASC
	</select>

	<insert id="insert">
		INSERT INTO recipes(
			item_id, material_id, origin, quantity)
		VALUES	
			(#{itemId}, #{detail.materialId}, #{detail.origin}, #{detail.quantity})
	</insert>

</mapper>