<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="pageHeader(title, currentPage)" class="header-nav">
		<div th:if="${currentPage != 'home'}">
		        <a th:href="@{/home}" style="margin-bottom: 10px;">← ホームに戻る</a>
		    </div>
		
        <h1>管理システム</h1>
		
        <h2 th:text="${title}">画面タイトル</h2>
	</nav>
        
	<nav th:fragment="navMenu(basePath, currentPage)" class="nav-container">
			<a th:href="@{${basePath + '/list'}}"
			   th:classappend="${currentPage == 'list'} ? 'active' : ''"
			   class="nav-btn">一覧</a>
			               
			<a th:href="@{${basePath + '/register'}}"
			   th:classappend="${currentPage == 'register'} ? 'active' : ''"
			   class="nav-btn">登録</a>
			               
			<a th:href="@{${basePath + '/deleted'}}"
			   th:classappend="${currentPage == 'deleted'} ? 'active' : ''"
			   class="nav-btn">削除済み一覧</a>
		</div>
		<hr>
	</nav>
	
	<nav th:fragment="headerNav(basePath, title, currentPage)" class="header-nav-wrapper">
	        <div th:replace="~{fragments/common :: pageHeader(${title}, ${currentPage})}"></div>
	        <div th:if="${currentPage != 'home'}">
	            <div th:replace="~{fragments/common :: navMenu(${basePath}, ${currentPage})}"></div>
				<hr />
	        </div>
	</nav>
		
<!--	レシピ専用nav	-->
		<nav th:fragment="recipeNav(title)" class="header-nav">
			<div>
			   <a th:href="@{/home}">← ホームに戻る</a>
			</div>
		    <h1>管理システム</h1>
		    <h2 th:text="${title}"></h2>
		    <hr>
		</nav>
        
        <hr th:if="${currentPage != 'home'}">
</body>
</html>