<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理システム ホーム</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <header th:replace="~{fragments/common :: pageHeader('ホーム', 'home')}"></header>

	 <div class="denmoku-container">
	     <div class="menu-card">
	         <h3><span class="icon">📊</span> 情報管理</h3>
	         <a th:href="@{/masters/items/list}" class="btn-action"><span class="icon">🥫</span> 製品情報</a>
	         <a th:href="@{/masters/materials/list}" class="btn-action"><span class="icon">🌾</span> 材料情報</a>
	     </div>
	     
	     <div class="menu-card">
	         <h3><span class="icon">📦</span> 在庫管理</h3>
	         <a th:href="@{/inventory/item/list}" class="btn-action"><span class="icon">🥫</span> 製品在庫</a>
	         <a th:href="@{/inventory/material/list}" class="btn-action"><span class="icon">🌾</span> 材料在庫</a>
	     </div>

	     <div class="menu-card">
	         <h3><span class="icon">⚙️</span> 製造管理</h3>
	         <a th:href="@{/production/list}" class="btn-action"><span class="icon">🏭</span> 製造アプリ</a>
	     </div>
		 
		 <div class="menu-card">
		     <h3><span class="icon">💻</span>注文管理</h3>
		     <a th:href="@{/orders/list}" class="btn-action"><span class="icon">📒</span> 注文一覧</a>
		 </div>
	 </div>	 
 </body>
</html>