<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>削除済み製品一覧</title>
        <link rel="stylesheet" th:href="@{/css/common.css}" />
		<script th:src="@{/js/common.js}"></script>
    </head>
    <body>
		<header th:replace="~{fragments/common :: headerNav('/items', '削除済み製品一覧', 'deleted')}"></header>

		<table class="content-table">
		    <thead><tr><th>製品名</th><th>操作</th></tr></thead>
		    <tbody>
		        <tr th:each="item : ${itemList}">
		            <td th:text="${item.name}"></td>
		            <td>
		                <form th:action="@{/items/deleted/{id}(id=${item.id})}" method="post">
		                    <button type="submit" class="btn btn-restore">復旧</button>
		                </form>
		            </td>
		        </tr>
		    </tbody>
		</table>

</body>
</html>