<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>製品情報の編集</title>
	<link rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
	<header th:replace="~{fragments/common :: headerNav('/items', '製品情報の編集', 'edit')}"></header>

	<form id="editForm" th:action="@{/items/edit/{id}(id=${id})}" method="post" th:object="${itemForm}">
	    <div th:replace="~{fragmentsinput :: text('製品名', 'name')}"></div>
	    <div th:replace="~{fratmentsinput :: text('販売単位', 'salesUnit')}"></div>
	    <div th:replace="~{fragmentsinput :: text('バッチ製造数', 'batchSize')}"></div>
	    <div th:replace="~{fragmentsinput :: text('標準原価', 'standardCost')}"></div>
	    <div th:replace="~{fragmentsinput :: text('販売価格', 'salesPrice')}"></div>
	    
	    <button type="button" class="btn btn-action"
	        onclick="openConfirmModal('editForm', 'confirmModal', 'confirmContent', ['name'], ['製品名'])">更新する</button>
	</form>
	<dialog th:replace="~{fragmentsinput :: confirm-modal}"></dialog>
</body>
</html>