<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>製品情報の編集</title>
	<link rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
	<h1>製品情報の編集</h1>
	
	<div th:if="${message}" th:text="${message}" 
	     style="padding: 10px; margin-bottom: 20px; background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba;">
	</div>

	<form id="editForm" th:action="@{/items/edit/{id}(id=${id})}" method="post" th:object="${itemForm}">
	    <div th:replace="~{input :: text('製品名', 'name')}"></div>
	    <div th:replace="~{input :: text('販売単位', 'salesUnit')}"></div>
	    <div th:replace="~{input :: text('バッチ製造数', 'batchSize')}"></div>
	    <div th:replace="~{input :: text('標準原価', 'standardCost')}"></div>
	    <div th:replace="~{input :: text('販売価格', 'salesPrice')}"></div>
	    
	    <button type="button" class="btn btn-action"
	        onclick="openConfirmModal('editForm', 'confirmModal', 'confirmContent', ['name'], ['製品名'])">更新する</button>
	</form>
	<dialog th:replace="~{input :: confirm-modal}"></dialog>

</body>
</html>