<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MaterialMapper">
	
	<select id="findActiveMaterialsByType" resultType="Material">	
		SELECT id, name, unit, is_powder, material_type
		FROM materials 
		WHERE material_type = #{materialType} AND is_deleted = 0
		
	</select>
	
	<select id="findDeletedMaterialsByType" resultType="Material">
		SELECT id, name, unit, is_powder, material_type
        FROM materials 
        WHERE material_type = #{materialType} AND is_deleted = 1
	</select>
	
	<select id="findById" resultType="Material">
		SELECT id, name, unit, is_powder, material_type
		FROM materials 
		WHERE id = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO materials (name, unit, is_powder, material_type)
		VALUES (#{name}, #{unit}, #{isPowder}, #{materialType})
	</insert>
	
	<update id="update">
		UPDATE materials
		SET name = #{name},
			unit = #{unit},
			is_powder = #{isPowder},
			material_type = #{materialType}
		WHERE id = #{id}
	</update>
	
	<update id="logicalDelete">
		UPDATE materials SET is_deleted = 1	WHERE id = #{id}
	</update>
	
	<update id="restore">
		UPDATE materials SET is_deleted = 0	WHERE id = #{id}
	</update>
</mapper>