<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加物情報の編集</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/common :: headerNav('/additive', '添加物情報の編集', 'edit')}"></header>

    <form id="editForm" th:action="@{/additive/edit/{id}(id=${id})}" method="post" th:object="${additiveForm}">
        <input type="hidden" th:field="*{id}"/>
        <div th:replace="~{fragments/input :: text('添加物名', 'name', 'editName')}"></div>
        <div th:replace="~{fragments/input :: text('単位', 'unit', 'editUnit')}"></div>
        <div th:replace="~{fragments/input :: radio-powder('種類', 'isPowder', 'editIsPowder')}"></div>
        
        <button type="button" class="btn btn-action"
            onclick="openConfirmModal('editForm', 'confirmModal', 'confirmContent', 
			['editName', 'editUnit', 'editIsPowderTrue'], 
			['添加物名', '単位', '種類'],'更新')">更新</button>
    </form>
    <dialog th:replace="~{fragments/input :: confirm-modal}"></dialog>
</body>
</html>