<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>材料登録</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/common :: headerNav('/masters/materials', '材料登録', 'register')}"></header>

	<form id="registerForm" th:action="@{/masters/materials/register}" method="post" th:object="${materialForm}">
	    <div style="margin-bottom: 20px; padding: 10px; background: #eee;">
	        <label>材料区分：</label>
	        <input type="radio" id="typeRaw" th:field="*{materialType}" value="RAW" checked />
	        <label for="typeRaw">原料</label>
	        <input type="radio" id="typeAdditive" th:field="*{materialType}" value="ADDITIVE" />
	        <label for="typeAdditive">添加物</label>
	    </div>

	    <div th:replace="~{fragments/input :: text('名前', 'name', 'regName')}"></div>
	    <div th:replace="~{fragments/input :: text('単位', 'unit', 'regUnit')}"></div>
	    <div th:replace="~{fragments/input :: radio-powder('形態', 'isPowder', 'regIsPowder')}"></div>
	    
	    <button type="button" class="btn btn-action"
	        th:onclick="|openConfirmModal('registerForm', 'confirmModal', 'confirmContent', 
	        ['regName', 'regUnit', 'regIsPowderTrue'], ['名前', '単位', '形態'], '登録')|">登録</button>
	</form>
    
    <dialog th:replace="~{fragments/input :: confirm-modal}"></dialog>
</body>
</html>